doctype html
html(lang='en-VE')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, usar-scalable=no')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='description', content='Es una plataforma web creada y diseñada para todas las personas que deseen aprender el potente y maravilloso lenguaje de programación Java Script, pero aún no saben cómo o por dónde empezar, aquí podrás dar tus primeros pasos sin importar el conocimiento que tengas de Java Script, solo necesitas tener conocimientos básicos de HTML5 Y CSS3, aprende(js) cuenta con tres niveles (básico, medio y avanzado) también encontraras todos los artículos, materiales audio visuales y recursos para tu aprendizaje…')
		link(rel='apple-touch-startup-image', href='./public/img/favicon.png')
		link(rel='shortcut icon', type='image/png', href='./public/img/favicon.png')
		link(rel='apple-touch-icon', href='./public/img/favicon.png')
		title aprende(js)
		link(rel='stylesheet', href='public/css/aprendejs.css')
		link(rel='stylesheet', href='public/css/monokai_sublime.min.css')
		link(rel='stylesheet', href='public/css/icon.css')
	body
		header.header
			.contenedor
				h1.logo
					| aprende(js)
					span  
				span#btn-menu.icon-menu
				nav#nav.nav
					ul.menu
						li.menu__item.animate_item.animate_center
							a.menu__link(href='#') Inicio
						li.menu__item.animate_item.animate_center
							a.menu__link(href='#') Ingresar
						li.menu__item.animate_item.animate_center
							a.menu__link(href='#') Registrar
		.banner
			img(src='public/img/banner.png', alt='')
			.contenedor
				h2.banner__titulo Bienbeni@
				.banner__txt APRENDE JAVA SCRIPT EL POTENTE Y MARAVILLOSO LENGUAJE DE PROGRAMACIÓN.
		main.main
			.contenedor
				h2
					| Es una plataforma web creada y diseñada para todas las personas que deseen aprender el potente y maravilloso lenguaje de programación Java Script, pero aún no saben cómo o por dónde empezar, aquí podrás dar tus primeros pasos sin importar el conocimiento que tengas de Java Script, solo necesitas tener conocimientos básicos de HTML5 Y CSS3, aprende(js) cuenta con tres niveles (básico, medio y avanzado) también encontraras todos los artículos, materiales audio visuales y recursos para tu aprendizaje…
		footer.footer
			.contenedor
				p.copy © aprende(js)
		script(src='public/js/aprendejs.js')
