@import url(menu.css);

@font-face {
    font-family: 'consolas';
    src:    url('../fonts/consolas.eot?gygh7p');
    src:    url('../fonts/consolas.eot?gygh7p#iefix') format('embedded-opentype'),
        url('../fonts/consolas.woff') format('woff'),
        url('../fonts/consolas.ttf?gygh7p') format('truetype'),
        url('../fonts/consolas.svg?gygh7p#MankSans-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
	
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'consolas', sans-serif;
}

header {
	width: 100%;
	height: 50px;
  background: rgba(48, 87, 163, 0.87);
	color: #fff;
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.contenedor {
	width: 98%;
	margin: auto;
}

.text-center{
  text-align: center;
}

a.btn{
  border: none;
  color: #333;
  display: inline;
  letter-spacing: 1.2;
  padding: 7px 6px 1px 6px;
  font-size: 19px;
  text-transform: uppercase;
  text-decoration: none;
}

a.btn-azul{
  color: #fff;
  background: rgba(36, 104, 236, 0.71);
}

a.btn-rojo{
  color: #fff;
  background: rgba(255, 0, 0, 0.63);
}

a.btn:hover, a.btn:focus{
  box-shadow: 0 0 10px gray;
  cursor: pointer;
}

h1 {
	float: left;
}

header .contenedor {
	display: table;
}

main.main{
	margin: 60px 0;
  height: 100vh;
}

/*-----------------Estilos Modal---------------------*/

.modal {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;

    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.1);
    
    visibility: hidden;
    opacity: 0;

    transition: all 2s;
}

.modal__contenido{
    width: 60%;
    margin: 20px auto;
    position: relative;
    top: 60px;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
    background: #F3F3F3;
}

span.modal_cerrar{
    position: absolute;
    width: 20px;
    height: 20px;
    color: #444;
    cursor: pointer;
    font-size: 22px;
    top: 10px;
    right: 10px;
}

.modal_cerrar:hover{
    color: #000;
}

.modal__header, .modal_body, .modal__footer{
    padding: 0 10px;
    width: 100%;
    margin: 10px auto;
}

.modal__header{
    flex-grow: 1;
}

.modal_body{
    flex-grow: 200;
    border-bottom: solid 2px #333;
    border-top: solid 2px #333;
    background: #FFF;
    color: #333;
}

.modal__footer{
    flex-grow: 1;
}

.modal__show{
    animation: modal_show 1s forwards;
}

@keyframes modal_show {
    100% {
        visibility: visible;
        opacity: 1;
    }
}


/*-----------------Estilos formularios---------------------*/

label{
  cursor: pointer;
}

fieldset{
  border: none;
  padding: 1em 0;
}

legend{
  font-size: 2em;
  line-height: 60px;
}

select{
    min-width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 22px;
    margin-bottom: .8em;
    outline: none;
    background: transparent;
}

input{
  border: none;
  border-bottom: 1px solid gray;
  display: block;
  font-size: 22px;
  margin-bottom: .8em;
  min-width: 100%;   
  outline: none;
}

input:focus, select:focus{
  border-bottom: 3px solid rgba(48, 87, 163, 0.87);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}


input[type=number], input[type=date]{
  text-align: right;
}


button[type="submit"], .btn_javascript{
  background-color: rgba(48, 87, 163, 0.87);
  border: none;
  color: #333;
  display: block;
  letter-spacing: 1.2;
  margin-top: .5em;
  padding: 10px;
  text-transform: uppercase;
}


button[type="submit"]:hover, button[type="submit"]:focus, .btn_javascript:hover, .btn_javascript:focus{
  box-shadow: 0 0 10px gray;
  cursor: pointer;
}

input[type=checkbox], input[type=radio]{
  width: 0;
  height: 0;
}

input[type=checkbox] + label{
  width: 2.8em;
  height: 1.1em;
  background-color: gray;
  display: block;
  border-radius: 1.25em;
  margin-top: 1em;
  margin-bottom: 1em;
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;
  cursor: pointer;
}

input[type=checkbox] + label:before{
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 15px gray;
  content: "";
  display: block;
  height: 1.2em;
  position: relative;

  -webkit-transform: tanslateY(-15%);
     -moz-transform: tanslateY(-15%);
      -ms-transform: tanslateY(-15%);
       -o-transform: tanslateY(-15%);
          transform: tanslateY(-15%);

  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;

  width: 1.2em;
}

input[type=checkbox]:checked + label:before{
  background-color: green;
  left: 1.5em;
}

input[type=checkbox]:checked + label{
  background-color: rgba(48, 87, 163, 0.87);
}

input[type=checkbox]:focus + label{
  box-shadow: 0 0 20px rgba(48, 87, 163, 0.87);
}

input[type=radio] + label{
  cursor: pointer;
}

input[type=radio] + label:before{
  content: "";
  border-radius: 50%;
  display: inline-block;
  width: .75em;
  height: .75em;
  background-color: transparent;
  box-shadow: 0 0 0 3px gray;
  margin-right: .5em;
  cursor: pointer;
}

input[type=radio]:checked + label:before{
  background-color: rgba(48, 87, 163, 0.87);
  color: rgba(48, 87, 163, 0.87);
  width: .75em;
  height: .75em;
  box-shadow: 0 0 0 2px white,
        0 0 0 5px rgba(48, 87, 163, 0.87);
}



/*-------------------estilos table-------------------*/

table{
  border-collapse: collapse;
  width: 100%;
}

caption{
  font-size: 24px;
  line-height: 64px;
  padding-left: 24px;
  text-align: left;
}

thead tr{
  border-bottom: 1px solid gray;
  line-height: 56px;
}

th{
  color: rgba(51, 51, 51, 0.75);
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

tbody tr{
  border-bottom: 1px solid gray;
  line-height: 48px;
}

tbody tr:hover{
  background-color: rgba(51, 51, 51, 0.1);
}

td{
  font-size: 14px;
  font-weight: bold;
}

td:first-child,th:first-child{
  padding-left: 24px;
  width: 50px;
}

/*-----------------Estilos de footer-----------------*/

.footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

@media (min-width:768px) {

}

@media (min-width:1024px) {
	.contenedor {
		width: 1000px;
	}
}