<h1>Agenda AJAX</h1>

<img width="300px" src="public/img/AJAX_logo.png" alt="">
<h1>Asynchronous JavaScript And XML</h1> <br><br><br><br>
<hr>
<p>AJAX está íntimamente relacionada con un objeto de programación llamado <b>XMLHttpRequest.</b></p>

<p>En navegadores obsoletos <b>ActiveXObject</b></p>

<hr>

<p>
	if(window.XMLHttpRequest) { // Navegadores que siguen los estándares <br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;peticion_http = new XMLHttpRequest(); <br>
	} <br>
	
	else if(window.ActiveXObject) { // Navegadores obsoletos <br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;peticion_http = new ActiveXObject("Microsoft.XMLHTTP"); <br>
	} <br>
</p>