<h2>Listar</h2>

<label for="buscar">Buscar</label>
<input type="text" name="buscar_txt" id="buscar" placeholder="Buscar..." autofocus="">

<table>
	<thead>
		<tr>
			<th>#</th>
			<th>Nombre y apellido</th>
			<th>Cedula</th>
			<th>Teléfono</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>01</td>
			<td>Isaac Seijas</td>
			<td>19725538</td>
			<td>04243466689</td>
			<td>
				<a href="" class="btn btn-azul"><i class="icon-pencil-square-o"></i></a>
				<a href="" class="btn btn-rojo"><i class="icon-bin"></i></a>
			</td>
		</tr>
	</tbody>
</table>